<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @upload_image, partial: "card", as: :upload_image %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "upload_images/upload_image_image_comments" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "upload_images/upload_image_bookmarks" %>
  </div>
</div>
